# ignore these
**/*.cache
**/*.hw
**/*.ip_user_files
**/*.runs
**/*.srcs/**/synth_1
**/*.srcs/**/utils_1
**/*.sim
digilent-xdc-master

# do not ignore these files in an ignored dir
!digilent-xdc-master/Basys-3-Master.xdc
!digilent-xdc-master/README.md
!digilent-xdc-master/License.txt